.painel-de-controle{
    /*border: 1px solid black;*/
    max-width: 1100px;
    min-width: auto;
    height: auto;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}
.painel-de-controle .conteudo{
    /*border: 1px solid black;*/
    width: 100%;
    padding: 10px 10px 10px 10px;
    background-color: seashell;
    box-shadow: 0 0 100px rgba(0 , 0, 0, 0.1);
    border-radius: 8px;

    justify-content: center;
}
.painel-de-controle .conteudo .logo{
    border: 1px solid blue;
    width: 80px;
    height: 80px;
    background: no-repeat center;
    background-size: contain;
    margin: auto;
}
/**/
.painel-de-controle .conteudo .painel-de-controle-titulo{
    border: 1px solid black;
    font-family: 'Calibri';
    width: 100%;
    height: auto;
}
.painel-de-controle .conteudo .painel-de-controle-titulo h3{
    border: 1px solid yellow;
    margin: 5px 0px 0px 10px;
    float: left;
}
.painel-de-controle .conteudo .painel-de-controle-configuracoes{
    border: 1px solid green;
    width: 100%;
    height: auto;
    
}
.painel-de-controle-nome-usuario h4{
    border: 1px solid black;
    font-family: 'Calibri';
    text-align: center;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 5px 0px 5px 0px;
}
/**/
.painel-de-controle-dados{
    border: 1px solid red;
    width: auto;
    height: auto;
}
.painel-de-controle-dados h3{
    border: 1px solid black;
    width: auto;
    font-family: 'Calibri';
    text-align: left;
    margin: 0px;
}
.painel-de-controle-dados form .dados{
    border: 2px solid blue;
    height: auto;
    padding-bottom: 5px;
}
.painel-de-controle-dados form .dados label{
    border: 1px solid black;
    padding: 0px 5px 0px 0px;
    width: auto;
    height: auto;
    font-family: 'calibri';
    font-style: italic;
    font-size: 16px;
    float: left;
}
.painel-de-controle-dados form .dados input{
    border: 1px solid #dcdce6;
    margin: 0px;
    width: 180px;
    height: 40px;
    color: #333;
    float: right;
    border-radius: 0px;
}
.painel-de-controle-dados form .dados textarea{
    border: 1px solid #dcdce6;
    margin: 0px;
    width: 180px;
    height: 40px;
    color: #333;
    float: right;
    border-radius: 0px;
    text-align: center;
}
.painel-de-controle-dados form .dados select{
    border: 1px solid #dcdce6;
    margin: 0px;
    width: 185px;
    height: 40px;
    color: #333;
    float: right;
    text-align: center;
}
/**/
.painel-de-controle-acesso{
    border: 2px solid yellow;
    padding-top: 20px;
    clear: both;
}
.painel-de-controle-acesso h3{
    border: 1px solid black;
    width: auto;
    font-family: 'Calibri';
    text-align: left;
    margin: 0px;
}
/**/
.back-link{
    float: right;
}
.painel-de-controle .conteudo input{
    margin-top: 8px;
}
